<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="UcbManagementInformationEntities" connectionString="metadata=res://*/EntityModels.UcbManagementInformation.Model1.csdl|res://*/EntityModels.UcbManagementInformation.Model1.ssdl|res://*/EntityModels.UcbManagementInformation.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.34.172;initial catalog=UcbManagementInformation;persist security info=True;user id=sa;password=SqlAdmin$1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdepUcbEntities" connectionString="metadata=res://*/EntityModels.Ucb.Ucb.csdl|res://*/EntityModels.Ucb.Ucb.ssdl|res://*/EntityModels.Ucb.Ucb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.34.172;initial catalog=AdepUcb;persist security info=True;user id=sa;password=SqlAdmin$1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
  </system.web>
</configuration>