<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LoggingDatabase"
          connectionString="Data Source=10.21.34.172;Initial Catalog=UcbManagementInformation;User Id=sa;Password=SqlAdmin$1"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="UcbManagementInformationDatabase"
          connectionString="Data Source=10.21.34.172;Initial Catalog=UcbManagementInformation;User Id=sa;Password=SqlAdmin$1"
          providerName="System.Data.SqlClient"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="BusinessDataConnectionString"
          connectionString="metadata=res://*/EntityModels.UcbManagementInformation.Model1.csdl|res://*/EntityModels.UcbManagementInformation.Model1.ssdl|res://*/EntityModels.UcbManagementInformation.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.34.172;initial catalog=AdepUcbReportingBackup;persist security info=True;user id=sa;password=SqlAdmin$1;multipleactiveresultsets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="UcbManagementInformationEntities"
          connectionString="metadata=res://*/EntityModels.UcbManagementInformation.Model1.csdl|res://*/EntityModels.UcbManagementInformation.Model1.ssdl|res://*/EntityModels.UcbManagementInformation.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.34.172;initial catalog=UcbManagementInformation;persist security info=True;user id=sa;password=SqlAdmin$1;multipleactiveresultsets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="AdepUcbEntities"
          connectionString="metadata=res://*/EntityModels.Ucb.Ucb.csdl|res://*/EntityModels.Ucb.Ucb.ssdl|res://*/EntityModels.Ucb.Ucb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.34.172;initial catalog=AdepUcb;persist security info=True;user id=sa;password=SqlAdmin$1;multipleactiveresultsets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <applicationSettings>
    <UcbManagementInformation.Web.Properties.Settings xdt:Transform="Replace">
      <setting name="UcbManagementInformation_Web_ReportingService2005_ReportingService2005"
        serializeAs="String">
        <value>http://10.21.34.172/ReportServer_ADEPSQL/ReportService2005.asmx</value>
      </setting>
      <setting name="UcbManagementInformation_Web_ReportingService2010_ReportingService2010"
        serializeAs="String">
        <value>http://10.21.34.172/ReportServer_ADEPSQL/ReportService2010.asmx</value>
      </setting>
    </UcbManagementInformation.Web.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ReportServer" value="http://10.21.34.172/ReportServer_ADEPSQL"
          xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="userReportID" value="reportuser"
          xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="userReportPassword" value="Pass@word01"
          xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="userReportDomain" value="ADV"
          xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>